.NavBar-welcome {
    color: grey;
}
.nav-header {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vmin;
    font-size: 2.3vmin;
    color: var(--background);
    max-height: 75px;
}