.HomePage{
    display: flex;
    width: 100%;
    justify-content: space-evenly
}
#sidebar-wrapper{
    margin-right: auto;
    width: 160px;
}

.statsContainer{
    display: flex;
    justify-content: space-evenly;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.chartData{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}